body {
	color: green;
	text-align: center;
	font-family: Arial;
	margin: 0;
	padding: 0;
}
#cabecera {
	background: purple;
	color: white;
	margin: 0;
	padding: 0.5em;
}
#container {
	width: 70%;
	text-align: left;
	padding: 1em;
	margin: 1 auto;
}
#container h1 {
	font-size: 20px;
}